#

!create_install_location ; true
# Should be true for others.
# But for prs, should be false
# so that a symlink is created instead
# to place it on a separate partition.

!install_location  ; /usr/local/share/prs_system
!final_dir         ; oned_runner-0.1

!run_call_location ; /usr/local/bin
!run_call          ; prs-oned_runner-0.1

!user_config ; ~/.config/prs_system/oned_runner-0.1.config
# For default config.
# Not implemented yet?


!venv_name ; oned
!venv_location ; /mnt/udata/prs_system/python-venv



