#


!install_location  ; /usr/local/share
!final_dir         ; prs-oned_runner-0.1

!run_call_location ; /usr/local/bin
!run_call          ; prs-oned_runner-0.1

!user_config ; ~/.config/prs-oned_runner-0.1.config
# For default config.
# Not implemented yet?


!venv_name ; oned
!venv_location ; /usr/local/share/python-venv



